* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: lightblue;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
    text-decoration: none;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}

.link1 {
    color: inherit;
    font-size: 2rem;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li :active {
    background-color: gray;
}

.nav li :hover {
    background-color: whitesmoke;
}